* text=auto !eol
.settings/org.eclipse.jdt.core.prefs -text
build/UK101[!!-~]build.launch -text
build/bugs.txt -text
build/build.xml -text
build/license.txt -text
build/readme.txt -text
docs/config.html -text
docs/extras.html -text
docs/history.html -text
docs/image/board1.jpg -text
docs/image/init1.gif -text
docs/image/inv1.gif -text
docs/image/inv2.gif -text
docs/image/kbmode.jpg -text
docs/image/opcas.jpg -text
docs/image/opctl.jpg -text
docs/image/opkbd.jpg -text
docs/image/opsbkb.jpg -text
docs/image/opsbvd.jpg -text
docs/image/opvid.jpg -text
docs/image/qs1.jpg -text
docs/image/qsb.gif -text
docs/image/qsh.gif -text
docs/image/qsl.gif -text
docs/image/qsr.gif -text
docs/image/tapeex.jpg -text
docs/image/tapeinv.jpg -text
docs/image/tapemode.jpg -text
docs/image/tapesamp.jpg -text
docs/image/uk101.gif -text
docs/image/vidamber.jpg -text
docs/image/vidgreen.jpg -text
docs/image/vidwhite.jpg -text
docs/index.html -text
docs/operation.html -text
docs/pdf/exmon.pdf -text
docs/pdf/manual.pdf -text
docs/pdf/newmon.pdf -text
docs/prognotes.html -text
docs/quickstart.html -text
docs/samples.html -text
docs/utilities.html -text
samples/basic/charset.basic -text
samples/basic/hectic.basic -text
samples/basic/hello.basic -text
samples/basic/nytaxi.basic -text
samples/machines/invaders.uk101 -text
samples/properties/BASOSI.ROM -text
samples/properties/CHGOSI.ROM -text
samples/properties/MONOSI.ROM -text
samples/properties/superboard.properties -text
samples/properties/uk101.properties -text
samples/tapes/exmon.tape -text
samples/tapes/invaders.tape -text
src/uk101/Main.java -text
src/uk101/hardware/ACIA6850.java -text
src/uk101/hardware/ALU6502.java -text
src/uk101/hardware/CPU6502.java -text
src/uk101/hardware/Keyboard.java -text
src/uk101/hardware/Memory.java -text
src/uk101/hardware/RAM.java -text
src/uk101/hardware/ROM.java -text
src/uk101/hardware/Video.java -text
src/uk101/hardware/bus/DataBus.java -text
src/uk101/hardware/bus/IOBus.java -text
src/uk101/hardware/bus/IODevice.java -text
src/uk101/icon/uk101-32.png -text
src/uk101/icon/uk101-48.png -text
src/uk101/icon/uk101.ico -text
src/uk101/io/Stream.java -text
src/uk101/io/UK101InputStream.java -text
src/uk101/io/UK101OutputStream.java -text
src/uk101/machine/Computer.java -text
src/uk101/machine/Configuration.java -text
src/uk101/machine/Data.java -text
src/uk101/machine/Dump.java -text
src/uk101/machine/TapeRecorder.java -text
src/uk101/machine/Trace.java -text
src/uk101/rom/BASUK101.ROM -text
src/uk101/rom/CHGUK101.ROM -text
src/uk101/rom/MONUK02.ROM -text
src/uk101/utils/Args.java -text
src/uk101/utils/Disassembler.java -text
src/uk101/utils/PrintBytes.java -text
src/uk101/utils/PrintCode.java -text
src/uk101/utils/PrintDump.java -text
src/uk101/utils/PrintMachine.java -text
src/uk101/utils/PrintTrace.java -text
src/uk101/utils/TapeRead.java -text
src/uk101/utils/TapeWrite.java -text
src/uk101/view/CassetteView.java -text
src/uk101/view/ComputerView.java -text
src/uk101/view/KeyboardView.java -text
src/uk101/view/MachineImage.java -text
src/uk101/view/MachineView.java -text
src/uk101/view/VideoView.java -text
src/uk101/view/ViewImage.java -text
src/uk101/view/component/CassetteButton.java -text
src/uk101/view/component/DisplayText.java -text
src/uk101/view/component/FlowPanel.java -text
src/uk101/view/component/ImageFormat.java -text
src/uk101/view/component/KeyboardKey.java -text
src/uk101/view/component/KeyboardLock.java -text
src/uk101/view/component/SmallButton.java -text
src/uk101/view/component/SmallToggle.java -text
src/uk101/view/component/TapeFormat.java -text
src/uk101/view/component/VideoScreen.java -text
